/* You can add global styles to this file, and also import other style files */
.cart-items{
    font-size: small;
}
.cart-count{
    position: absolute;
    font-size: x-small;
    top: 3px;
    right: 110px;
    background: #f09d51;
    padding: 0 5px;
    border-radius: 30%;
    color: #fff;
}


